

/* a, p{
  font-family: Raleway;
  color:#3B3B3B;
} */
#lnk{
  font-family: "Raleway", sans-serif;
  /* font-optical-sizing: auto; */
  font-weight: 500;
  font-style: normal;
}
.header{
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.logo{

}
.nav{
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0;
  margin: 0;
  flex-direction: row;
}
.navList{
  display: flex;
  gap: 20px;
  align-items: center;
}

.footer{
  background: url('/images/BG-Footer.png');
  width: 100%;
  background-position:left center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  color: #fff;
  min-height:400px;
  padding: 50px 30px 20px;
}
h3.Cattitle:before {
  background: none repeat scroll 0 0 #007bff;
  content: "";
  display: block;
  height: 15px;
  position: absolute;
  width: 3px;
  margin: 5px 2px 0px -11px;
  padding: 0;
}
h3.Cattitle{ color: #020202; margin: 0px 12px;}
.footerLink{
  display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto 25px;
}
.footerLink ul:first-child
{    width: calc(450% / 5 - 5px);}
.footerLink ul:last-child li a{
padding: 5px 30px;
}
.footerLink ul
{ 
width: calc(350% / 5 - 10px);
}
.footerLink ul:last-child h3{

}
.footerLink ul:last-child{
  width: calc(450% / 5 - 5px);
    display: block;
    justify-content: space-between;
}
.footerLink ul:last-child li
{
  display: inline-block;
}
.footerLink ul h3::before
{ content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 40px;
  background: #2f86c2;
}
.footerLink ul h3
{
  position: relative;
}
.footerCopy{
  text-align: center;
    padding: 20px 0px 0;
    border-top: 1px solid #686868dd;
    display: none;
}
.shape-fill {
  fill: #FFFFFF;
}
.outerBanner{
  background-image: url('/images/Banner-BG.png');
  width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    min-height: 577px;
    margin: 0 auto;
}
.banner{
  max-width: 1400px;
  display: flex;
  justify-content: space-around;
  padding: 13rem 3rem;
  align-items: center;
  margin: 0 auto;
  gap: 600px;
}
.outerBanner h3{color: #0D86C1;}
.commonBgBanner{
  background: linear-gradient(-64deg, #04133e, #013773, #013773);
  width: 100%;
  position: relative;
  min-height: 292px;
}
.layerstyle
{position: absolute; 
  bottom: 0;
  left: 0;
width: 100%; 
 overflow: hidden; 
 line-height: 0;}

.bannertitle{     display: flex;
  justify-content: space-evenly;
  padding: 5rem 3rem;
  align-items: center;
  /* gap: 13px; */
}
.l_sec{

}
h1.l_sec {
  color: #fff;
  font-size: 45px;
  text-transform: capitalize;
}
.l_sec h1{
  color: #fff;
  font-size: 45px;
  text-transform: capitalize;
}
.l_sec p{
  color: #fff;
}
.r_sec{

}
.r_sec img{
  max-width: 588px;
}
.react-multi-carousel-item{
  display: flex;
  justify-content: space-around !important;
}
.bgImg{
  background-image: url('/images/abtCore.png');
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: left center;
    min-height: 600px;
}

.mapwrap{
  /* background-image: url('/images/UnicornNetwork.mp4'); 
  width: 100%;
  height: 90vh; */
  /* background-repeat: no-repeat;
  background-position: center center;
  background-size: contain; */
  width: 100%;
  margin: 0 auto;
  /* position: relative;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  min-height: 652px;
  margin: 0 auto; */
}
.bgNavyBlue{
  background-color: #013773;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.bgNavyBlue h2{
  font-size: 31px;
}
.react-multi-carousel-track, .carousel-container {
  margin: 0px 0px 45px !important;
}
.bgNavyBlue button.btn{
background-color: #0D86C2;
color: #fff;
border-radius: 2px;
max-width: 200px;
padding: 5px 15px;
}
.bgNavyBlue span
{
  text-align: center;
  margin: 0 auto;
  justify-content: space-around;
  padding: 50px 0px;
  display: flex;
}
.contact-form{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 10px auto 0px;
  border: 1px solid #eeee;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 20px 0px;
}
.contactoutter{
  width: 50%;
    margin: 0 auto;
}
.contactoutter h3{
  text-align: center;
}

.contact-form input, .contact-form textarea{
  display: block;
  border: none;
  width: 100%;
  margin-bottom: .5rem;
  padding: 0.3rem 1rem;
  border-radius: 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.outermovie-wrapper{
  max-width: 140rem;
  margin: 0 auto;
  padding: 3rem 3rem;
}
.outermovie-wrapper h2{
  font-size: 25px;
  font-weight: 800;
  width: 30%;
  text-align: center;
  border-bottom: 3px solid #e31414;
  margin: 0 auto 20px;
}

.space-box{
  padding: 10px 15px 15px; 
}
.space-box h1{
  font-weight: 800;
  font-size: 18px;
}
.btn-movie
{
  background-color: #161617;
  border-radius: 2.4rem;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-size: 14px;
  font-weight: 400;
  padding: 0.3rem 1.2rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  letter-spacing: -0.1rem;
}
.card-section{
  width: 100%;
  display: flex;
  gap: .5rem;
  justify-content: space-between;
  align-items: center;
  /* background-color: #90caf9; */
  flex-wrap: wrap;
}
.cardBox{
  max-width: 15rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 0.8rem;
  background-color: #ededed;
  min-height: 290px;
  margin-bottom: 20px;
}
.space-box p{
  padding-bottom: 10px;
}
.cardBox img{
  max-width: 100%;
  height: auto;
  border-top-right-radius: 0.8rem;
  border-top-left-radius: 0.8rem;
}

.contain{
  width: 95%;
  margin: 0 auto;
}

.movie_title{
  font-size: 25px;
}
.movie_title span{
color: red;
}

.card_section{
  display: flex;
  gap: 50px;
  align-items: center;
}

.leftemovi{

}

.rightmovi h1{
font-size: 25px;
font-weight: 800;
}
.cardoutter{
  max-width: 1400px;
  margin: 0 auto;
  padding: 30px 55px;
}

.cardbox{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  grid-gap: 5rem;
  gap: 5rem;
}
.card-box{
  padding: 2rem 4rem;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: #fff;
}
.card-box i
{
  color: red;
    font-size: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
}
/*loading page style */

.loading_section{
  width: 100%;
  height: 80vh;
  display: grid;
  place-items: center;
}

.loading {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.loading:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #053675;
  border-color: #053675 transparent #053675 transparent;
  animation: loading 1.2s infinite;
}
@keyframes loading {
  0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
      transform: rotate(1800deg);
  }
}
